/* Remove padding and margin */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Inter";
}
.width-constrint {
  max-width: 80%;
}

.top-banner {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 300px;
  background: #152765;
  background-image: url("../assets/Logo.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.top-banner-text {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.main-header {
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin: 30px;
}

.main-text {
  font-size: 20px;
  color: black;
  margin: 10px;
}

li {
  font-size: 20px;
  margin-left: 30px;
  list-style-type: disc;
}

.row-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
